# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
dist/
build/
eggs/
*.whl
pip-log.txt
pip-delete-this-directory.txt
.Python
env/
venv/
.venv/
*.virtualenv

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo
*~
.project
.classpath
.settings/
*.sublime-project
*.sublime-workspace
.spyderproject
.spyproject
.ropeproject

# OS
.DS_Store
Thumbs.db
desktop.ini

# Environment / Secrets
.env
.env.*

#Claude stuff
.claude

# Extra stuff
lab-guide
scriptshome
*pdf
tests
*hq.py
Old tests

# Add later
results

